# Database
DB_USER=
DB_PASS=
DB_URI=mongodb://localhost:27017/prysmas
DB_PORT=27017

# JWT
JWT_SECRET=

# Session
SESSION_SECRET=

# Email
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# Google Custom Search
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_CX=

# OAuth
FACEBOOK_ID=
FACEBOOK_SECRET=
TWITTER_ID=
TWITTER_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
DOMAIN=http://localhost:9000

# App
PORT=3000
CLIENT_HOST=http://localhost:4200
SERVER_HOST=http://localhost:3000
